#root
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: black

.navigation
  display: flex
  flex-direction: row
  align-items: center

.arena
  width: auto
  height: auto
  display: flex

  &__chess
    display: flex

  &__numbers
    display: flex
    flex-direction: column

.field
  display: flex
  width: 80px
  height: 80px
  border-style: solid
  justify-content: center
  align-items: center

  &__black
    background-color: chocolate

  &__white
    background-color: burlywood

  &__chosen
    background-color: greenyellow

  &__column
    display: flex
    flex-direction: column

  &__number
    display: flex
    width: 80px
    height: 80px
    justify-content: center
    align-items: center
    font-size: 40px
    flex-direction: row

  &__letter
    display: flex
    width: 80px
    height: 80px
    justify-content: center
    align-items: center
    font-size: 40px

.game
  display: flex
  flex-direction: column
  border-style: solid
  background-color: saddlebrown

  &__letters
    display: flex
    flex-direction: row

  &__numbers
    display: flex
    flex-direction: column

  &__add-figure
    display: flex
    width: 100px
    height: 30px
    justify-content: center
    align-items: center
    margin: 10px

.figure
  display: flex
  height: 80px
  width: 80px

  &__white-King
    background-image: url('chess_icon/white-King.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-King
    background-image: url('chess_icon/black-king.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-Knight
    background-image: url('chess_icon/black-knight.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-Bishop
    background-image: url('chess_icon/black-bishop.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-Rook
    background-image: url('chess_icon/black-rook.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-Queen
    background-image: url('chess_icon/black-queen.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__black-Pawn
    background-image: url('chess_icon/black-pawn.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__white-Knight
    background-image: url('chess_icon/white-knight.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__white-Bishop
    background-image: url('chess_icon/white-bishop.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__white-Rook
    background-image: url('chess_icon/white-rook.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__white-Queen
    background-image: url('chess_icon/white-queen.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__white-Pawn
    background-image: url('chess_icon/white-pawn.svg')
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__empty
    display: flex
