#root
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  background-color: black
  -moz-user-select: none
  -webkit-user-select: none

.navigation
  display: flex
  width: 100%
  height: 100%
  flex-direction: row
  align-items: center
  justify-content: center
  gap: 10px

  &__trash
    background-image: url('icons/garbage-trash-svgrepo-com.svg')
    display: flex
    width: 100%
    height: 100%
    background-size: 70% 70%
    background-position: center
    background-repeat: no-repeat
    border-style: none
    background-color: #72380a

    &--chosen
      background-color: firebrick

.arena
  width: 100%
  height: 80%
  display: flex

  &__chess
    display: flex
    width: 86%
    height: 100%

  &__numbers
    display: flex
    width: 10%
    height: 100%
    flex-direction: column

.field
  display: flex
  width: 100%
  height: 12.5%
  border-style: solid
  justify-content: center
  align-items: center

  &__black
    background-color: chocolate

  &__white
    background-color: burlywood

  &__chosen
    background-color: greenyellow

  &__column
    display: flex
    width: 12.5%
    height: 100%
    flex-direction: column

  &__number
    display: flex
    width: 100%
    height: 12.5%
    justify-content: center
    align-items: center
    font-size: 140%
    flex-direction: row

  &__letter
    display: flex
    width: 12.5%
    height: 100%
    justify-content: center
    align-items: center
    font-size: 140%

.game
  display: flex
  flex-direction: column
  width: 58%
  height: 93%
  border-style: solid
  background-color: saddlebrown

  &__letters
    display: flex
    width: 100%
    height: 10%
    flex-direction: row

  &__numbers
    display: flex
    flex-direction: column

  &__navigation
    display: flex
    position: absolute
    width: 10%
    height: auto
    justify-content: center
    align-items: center
    top: 10px
    right: 1%
    gap: 10px
    flex-direction: column
    background-color: gray
    border-style: solid
    border-color: aliceblue
    border-radius: 20px

    &--default
      position: fixed
      width: 7%
      height: 7%
      border-color: aliceblue
      border-style: solid
      border-radius: 40px
      background-image: url('icons/refresh1.webp')
      background-size: contain
      background-color: gray
      background-position: center
      background-repeat: no-repeat
      right: 1%
      bottom: 10px

    &--editor
      display: flex
      width: auto
      height: auto

    &--start
      display: flex
      width: auto
      height: auto

  &__add-figure
    display: flex
    width: 7%
    height: 60%
    align-items: center
    justify-content: center
    flex-direction: column
    border-style: solid
    border-color: grey
    background-color: saddlebrown

    &--hidden
      display: none

  &__whose-turn
    display: flex
    width: auto
    height: auto
    text-align: center
    color: aliceblue

  &__color
    display: flex
    text-align: center
    color: aliceblue


.figure
  display: flex
  width: 100%
  height: 100%
  background-size: contain
  background-position: center
  background-repeat: no-repeat

  &__move-empty
    width: 40%
    height: 40%
    border-radius: 50%
    background-size: contain
    background: #66d97f no-repeat center

  &__move-figure
    width: 100%
    height: 100%
    border-radius: 50%
    background-size: contain
    border-style: solid
    border-color: #75d98b
    background: no-repeat center

  &__white-King
    background-image: url('chess_icon/white-King.svg')
    display: flex

  &__black-King
    background-image: url('chess_icon/black-king.svg')
    display: flex

  &__black-Knight
    background-image: url('chess_icon/black-knight.svg')
    display: flex

  &__black-Bishop
    background-image: url('chess_icon/black-bishop.svg')
    display: flex

  &__black-Rook
    background-image: url('chess_icon/black-rook.svg')
    display: flex

  &__black-Queen
    background-image: url('chess_icon/black-queen.svg')
    display: flex

  &__black-Pawn
    background-image: url('chess_icon/black-pawn.svg')
    display: flex

  &__white-Knight
    background-image: url('chess_icon/white-knight.svg')
    display: flex

  &__white-Bishop
    background-image: url('chess_icon/white-bishop.svg')
    display: flex

  &__white-Rook
    background-image: url('chess_icon/white-rook.svg')
    display: flex

  &__white-Queen
    background-image: url('chess_icon/white-queen.svg')
    display: flex

  &__white-Pawn
    background-image: url('chess_icon/white-pawn.svg')
    display: flex

  &__empty
    display: flex

  &__add
    width: 100%
    height: 18%
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  &__move
    width: 10%
    height: 10%
    display: flex
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.history
  position: absolute
  display: flex
  flex-direction: column
  top: 1%
  left: 1%
  min-width: 4%
  min-height: 12%
  background-color: gray
  border-style: solid
  border-color: aliceblue
  border-radius: 20px
  text-align: center

  &__nav
    display: flex
    border-top: aliceblue solid
    padding: 8px
    flex-direction: column
    overflow-y: auto
    overflow-x: hidden
    max-height: 80vh

  &__number
    display: flex
    //width: 20%
    height: auto
    text-align: center
    flex-direction: column
    align-items: center
    padding: 6px 14px
    border-radius: 6px
    border: none
    background: #6E6D70
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 0.5px rgba(255, 255, 255, 0.5), 0 0 0 0.5px rgba(0, 0, 0, 0.12)
    color: #DFDEDF

  &__container
    display: flex
    width: 100%
    height: 20px
    padding: 3px

  &__button
    display: none
    height: auto
    width: 40%
    text-align: center

.select
  min-width: 20%
  min-height: 20%
  position: fixed
  align-items: center
  flex-direction: column
  z-index: 2
  top: 20%
  left: 45%
  background-color: #6E6D70
  border-style: solid
  border-color: aliceblue
  border-radius: 6px

  &__new-figure
    max-width: 50%
    height: auto
    padding: 5px
    text-align: center
    border-radius: 10%
    border-style: solid
    background: no-repeat center

  &__nav
    width: auto
    height: auto
    text-align: center
    font-size: 30px

.select__new-figure:hover
  background-color: aqua

.figure__move-empty:hover
  width: 100%
  height: 100%
  background-color: #75d98b
  border-radius: 0
  opacity: 0.5
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.figure__move-figure:hover
  width: 100%
  height: 100%
  background-color: #75d98b
  border-radius: 0
  opacity: 0.5
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.history__button:hover
  background-color: aqua

.history:hover
  width: 11%

.history:hover .history__button
  display: block

.history:hover .history__number
  width: 20%