@mixin hoveredInfo()
  background-color: #47627e
  filter: brightness(1.2)

.players-info
  display: flex
  width: 100%
  height: 100%

.menu
  display: flex
  width: 10%
  height: 90%
  flex-direction: column
  top: 10%
  gap: 30px

  &__button
    --button-size: 30px
    height: var(--button-size)
    background-color: #444141
    border-radius: 30%
    margin: 2px
    display: flex
    align-items: center
    justify-content: center
    transition: filter 300ms
    padding: 5px

.charts
  display: flex
  width: 90%
  max-height: 90%
  overflow-y: auto
  justify-content: center
  align-items: center
  gap: 20px
  flex-direction: column
  padding: 120px

  &__container
    display: flex
    flex-direction: column
    width: 90%
    height: 70%
    border-radius: 20px
    background-color: #555555

  &__element
    display: flex
    border-bottom-style: groove
    width: 100%
    height: 7%
    justify-content: space-around
    align-items: center

    &--nav
      display: flex
      width: 8%
      height: 100%
      align-items: center
      justify-content: center
      transition: filter 300ms
      border-radius: 10px
      text-align: center

.player-info-chart
  display: flex
  flex-direction: row
  align-items: center

  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    width: 100%
    max-width: 800px
    margin-top: 2rem
    background-color: #555555
    border-radius: 20px
    padding: 10px

    &__item
      display: flex
      flex-direction: column
      align-items: center
      margin: 0.5rem

  &__title
    margin-bottom: 0.5rem
    font-weight: bold
    font-size: 1.2rem

.chart-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 1rem
  padding: 1rem
  background-color: #f5f5f5
  border: 1px solid #ccc
  border-radius: 8px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

  &__title
    font-size: 1.2rem
    margin-bottom: 0.5rem


.menu__button:hover
  @include hoveredInfo

.content__navigation--item:hover
  @include hoveredInfo